/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - #eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
* {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.6;
}
html {
  background-color: #eee;
}
#fullpage {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #fff;
  border: 1px solid #ffd24a;
}
#site_header {
  background-color: #ff8523;
  padding-bottom: 15px;
}
h1, h2 {
  color: #1fabe5;
}
@keyframes buttonanimation {
    from {background-color: rgb(255, 133, 35);}
    to {background-color: rgb(0, 0, 0);}
}
.main_navigation a {
  background-color: #ff8523;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  color: #FFF;
  margin: 10px 10px;
  padding: 7px;
  text-decoration: none;
}
.main_navigation a:hover {
  background-color: rgb(0, 0, 0);
  color: #FFF;
  animation-name: buttonanimation;
  animation-duration: 1s;
}
table {
  border: 1px solid #1fabe5;
  display: inline-table;
}
.formblock {
  background-color: #eee;
  border-radius: 20px;
  padding: 15px;
}
.name {
  background-color: #ff8523;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
}
.city_container,.bioclass {
  padding: 10px;
}
#submit_button {
  background-color: #1fabe5;
  border-radius: 3px;
  color: #FFF;
  margin: 10px 10px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
#first_name, #last_name {
  padding: 7px;
  border-style: none;
}
#bio {
  width: 100%;
}
section {
  margin: 0px 20px 60px 20px;
}
label[for="city"]{
  font-weight: 600;
}
label[for="bio"]{
  font-weight: 600;
}
