/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
#fullpage {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
#site_header {
  background-color: #ff8523;
}
h1, h2 {
  color: #1fabe5;
}
.main_navigation a {
  background: #ff8523;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  color: #FFF;
  /*display: inline-block;*/
  margin: 10px 10px;
  padding: 14px;
  text-decoration: none;
}
.main_navigation a:hover {
  background: rgb(0, 0, 0);
  color: #FFF;
}
